.footer {
  padding: 48px 0;
  background-color: $extra-dark-gray-color;

  &__logo {
    width: 185px;
  }

  &__download {
    display: flex;
    flex-direction: column;
    grid-column: 4 span;
    row-gap: 48px;

    &-content {
      display: flex;
      column-gap: 8px;
      align-items: center;
    }
  }

  &__line {
    margin: 0;
    border: none;
    height: 1px;
    background-color: $gray-color;
  }

  &__links {
    &-list {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      row-gap: 16px;
    }

    &-item {
      @include button-s;

      display: flex;
      align-items: center;
      color: $gray-color;
    }

    &-title {
      @include title-secondary;

      margin: 0;
      color: $light-color;
    }

    &--about {
      grid-column: 7 / 3 span;
    }

    &--help {
      grid-column: 10 / 3 span;
    }

    &--contact {
      grid-column: 13 / 4 span;

      .footer__links-item {
        @include paragraph-s;

        color: $light-color;
      }
    }
  }

  &__bottom {
    margin-top: 100px;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 2 span;
  }

  &__rights {
    display: flex;
    justify-content: space-between;
    grid-column: 12 / 5 span;

    &-item {
      @include button-xs;

      color: $light-color;

      &:last-child {
        font-weight: 400;
      }
    }
  }
}
