@mixin icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 48px;
  height: 48px;
  box-shadow: $box-shadow;
  background: $light-color;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: $box-hover-shadow;
  }
}

@mixin secondary-btn {
  @include button-s;

  border-radius: 4px;
  background-color: $light-gray-color;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    color: $extra-dark-gray-color;
    background-color: $gray-color;
  }
}

@mixin primary-btn {
  @include button-s;

  border-radius: 4px;
  color: $yellow-color;
  background-color: $primary-yellow-color;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: $light-yellow-color;
  }
}
