<section class="counter">
  <div class="counter__container">
    <div class="counter__item">
      <span class="counter__amount">1</span>
      <h3 class="counter__title">kitchen</h3>
    </div>
    <div class="counter__item">
      <span class="counter__amount">11</span>
      <h3 class="counter__title">specialties</h3>
    </div>
    <div class="counter__item">
      <span class="counter__amount">11</span>
      <h3 class="counter__title">restaurants</h3>
    </div>
    <div class="counter__item">
      <span class="counter__amount">1</span>
      <h3 class="counter__title">transport costs</h3>
    </div>
  </div>
</section>
