<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top grid">
      <div class="footer__download">
        <img
          class="footer__logo"
          src="./img/footer-logo.svg"
          alt="Footer Logo"
        />
        <hr class="footer__line" />
        <div class="footer__download-content">
          <a href="#" class="footer__download-link">
            <img src="./img/app-store.png" alt="App Store" />
          </a>
          <a href="#" class="footer__download-link">
            <img src="./img/google-play.png" alt="Google Play" />
          </a>
        </div>
      </div>
      <div class="footer__links footer__links--about">
        <h4 class="footer__links-title">About us</h4>
        <ul class="footer__links-list list-reset">
          <li class="footer__links-item">
            <a href="#" class="footer__link">Concept</a>
          </li>
          <li class="footer__links-item">
            <a href="#" class="footer__link">Franchise</a>
          </li>
          <li class="footer__links-item">
            <a href="#" class="footer__link">Business</a>
          </li>
          <li class="footer__links-item">
            <a href="#" class="footer__link">Restaurant signup</a>
          </li>
          <li class="footer__links-item">
            <a href="#" class="footer__link">For Investors</a>
          </li>
        </ul>
      </div>
      <div class="footer__links footer__links--help">
        <h4 class="footer__links-title">Get help</h4>
        <ul class="footer__links-list list-reset">
          <li class="footer__links-item">
            <a href="#" class="footer__link">Read FAQs</a>
          </li>
          <li class="footer__links-item">
            <a href="#" class="footer__link">Restaurants</a>
          </li>
          <li class="footer__links-item">
            <a href="#" class="footer__link">Specialities</a>
          </li>
          <li class="footer__links-item">
            <a href="#" class="footer__link">Sign up to deliver</a>
          </li>
          <li class="footer__links-item">
            <span>English</span>
            <img
              class="footer__link-icon"
              src="./img/icons/down.svg"
              alt="Arrow Down"
            />
          </li>
        </ul>
      </div>
      <div class="footer__links footer__links--contact">
        <h4 class="footer__links-title">Contact us</h4>
        <ul class="footer__links-list list-reset">
          <li class="footer__links-item">Yellow kitchen Paris 11</li>
          <li class="footer__links-item">
            69 avenue de la Republique 75011 Paris
          </li>
          <li class="footer__links-item">
            <a href="tel:0800 111 126" class="footer__link">0800 111 126</a>
          </li>
          <li class="footer__links-item">
            <a href="mailto:contact@yellowkitchens.com" class="footer__link">
              contact@yellowkitchens.com
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom grid">
      <ul class="footer__socials list-reset">
        <li>
          <a href="#">
            <img src="./img/socials/insta.svg" alt="Instagram" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./img/socials/twitter.svg" alt="Twitter" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./img/socials/fb.svg" alt="Facebook" />
          </a>
        </li>
      </ul>
      <ul class="footer__rights list-reset">
        <li class="footer__rights-item">
          <a href="#">Privacy Policy</a>
        </li>
        <li class="footer__rights-item">
          <a href="#">Terms</a>
        </li>
        <li class="footer__rights-item">© 2020 Yellow kitchen</li>
      </ul>
    </div>
  </div>
</footer>
