<header class="header">
  <div class="container header__container">
    <a href="#">
      <img src="./img/logo.svg" alt="Logo" />
    </a>
    <div class="header__menu">
      <a class="header__link" href="#">
        <img src="./img/icons/person.svg" alt="Person" />
        <span class="header__btn">Log in</span>
      </a>
      <a class="header__link" href="#">
        <img src="./img/icons/cart.svg" alt="Cart" />
        <span class="header__btn">0</span>
      </a>
      <button
        class="burger btn-reset"
        aria-label="Open menu"
        aria-expanded="false"
        data-burger
      >
        <img src="./img/icons/hamburger-initial.svg" alt="Hamburger" />
      </button>
    </div>
  </div>
  <aside class="sidebar" data-menu>
    <div class="sidebar__contact">
      <img src="./img/icons/call.svg" alt="Call" />
      <div class="sidebar__contact-info">
        <a class="sidebar__contact-call" href="tel:0800111126">0800 111 126</a>
        <span class="sidebar__contact-time">8:00 - 22:00</span>
      </div>
    </div>
    <nav class="nav" title="Main Navigation">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">Delivery info</a>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
        <li class="nav__item">
          <a href="#" class="nav__link">Restaurants</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Specialities</a>
        </li>
      </ul>
    </nav>
    <div class="sidebar__select">
      <button class="sidebar__select-btn btn-reset">
        <span>English</span>
        <img src="./img/icons/down.svg" alt="Down Arrow" />
      </button>
    </div>
  </aside>
</header>
