<section class="hero">
  <div class="container hero__container">
    <div class="hero__top grid">
      <div class="hero__content">
        <h1 class="hero__title">Your Food court at home</h1>
        <div class="hero__delivery">
          <span class="hero__delivery-item">
            <h3 class="hero__delivery-title">Delivery</h3>
            <span class="hero__delivery-text">Order in</span>
          </span>
          <span class="hero__delivery-item">
            <h3 class="hero__delivery-title">Takeout</h3>
            <span class="hero__delivery-text">Grab and go</span>
          </span>
        </div>
      </div>
      <img
        class="hero__img"
        src="./img/hero.png"
        alt="Hero"
        lazy
        width="803"
        height="706"
      />
    </div>
  </div>
  <div class="hero__bottom grid">
    <div class="hero__features">
      <div class="hero__features-item">
        <img src="./img/icons/time-eat.svg" alt="Time eat" />
        <p class="hero__features-text">
          delivery in all paris in less than 30 minutes
        </p>
      </div>
      <div class="hero__features-item">
        <img src="./img/icons/delivery.svg" alt="Delivery" />
        <p class="hero__features-text">Free delivery from 29 euros</p>
      </div>
      <div class="hero__features-item">
        <img src="./img/icons/paris.svg" alt="Paris" />
        <p class="hero__features-text">Only fresh and French products</p>
      </div>
    </div>
  </div>
</section>
