<section class="instagram">
  <div class="container instagram__container">
    <h2 class="instagram__title">
      #YellowKitchens <span class="instagram__title-subtext">in instagram</span>
    </h2>
    <div class="instagram__content grid">
      <img
        class="instagram__img"
        lazy
        src="./img/instagram/instagram-1.jpg"
        alt="instagram-1"
      />
      <img
        class="instagram__img"
        lazy
        src="./img/instagram/instagram-2.jpg"
        alt="instagram-2"
      />
      <img
        class="instagram__img"
        lazy
        src="./img/instagram/instagram-3.jpg"
        alt="instagram-3"
      />
      <img
        class="instagram__img"
        lazy
        src="./img/instagram/instagram-4.jpg"
        alt="instagram-4"
      />
    </div>
  </div>
</section>
