<section class="nearest">
  <div class="container nearest__container grid">
    <div class="nearest__left">
      <h2 class="nearest__title">Your nearest restaurants</h2>
      <p class="nearest__text">
        Each kitchen works with its own delivery area to deliver food to you as
        soon as possible
      </p>
    </div>
    <div class="nearest__right">
      <form class="nearest__form">
        <input
          class="input-reset nearest__input"
          type="text"
          placeholder="Enter delivery address"
        />
        <button class="btn-reset nearest__btn">send</button>
      </form>
    </div>
  </div>
</section>
