<section class="restaurants">
  <div class="container restaurants__container">
    <div class="restaurants__top">
      <h2 class="restaurants__title">Restaurants</h2>
      <a href="#" class="restaurants__link">show all</a>
    </div>
    <div class="restaurants__content grid">
      <button class="slider__prev btn-reset">
        <img src="./img/icons/left.svg" alt="Arrow Left" />
      </button>
      <div class="restaurants__item">
        <img src="./img/restaurants/burger.jpg" alt="Burger" />
        <img src="./img/logos/burger.png" alt="Burger Logo" />
      </div>
      <div class="restaurants__item">
        <img src="./img/restaurants/il_paster.jpg" alt="Il paster" />
        <img src="./img/logos/il_paster.png" alt="Il paste Logo" />
      </div>
      <div class="restaurants__item">
        <img src="./img/restaurants/believe.jpg" alt="Believe" />
        <img src="./img/logos/believe.png" alt="Believe Logo" />
      </div>
      <div class="restaurants__item">
        <img src="./img/restaurants/vietnamese.jpg" alt="Vietnamese" />
        <img src="./img/logos/vietnamese.png" alt="Vietnamese Logo" />
      </div>
      <button class="slider__next btn-reset">
        <img src="./img/icons/left.svg" alt="Arrow Left" />
      </button>
    </div>
  </div>
</section>
