<section class="specialities">
  <div class="container specialities__container">
    <div class="specialities__top">
      <h2 class="specialities__title">Specialities</h2>
      <a class="specialities__link" href="#">show all</a>
    </div>
    <div class="specialities__content grid">
      <button class="slider__prev btn-reset">
        <img src="./img/icons/left.svg" alt="Arrow Left" />
      </button>
      <div class="specialities__item">
        <img src="./img/icons/bagel.svg" alt="Bagel" />
        <span class="specialities__text">Bagel</span>
      </div>
      <div class="specialities__item">
        <img src="./img/icons/burger.svg" alt="Burger" />
        <span class="specialities__text">Burger</span>
      </div>
      <div class="specialities__item">
        <img src="./img/icons/chicken.svg" alt="Chicken" />
        <span class="specialities__text">Chicken</span>
      </div>
      <div class="specialities__item">
        <img src="./img/icons/fish.svg" alt="Fish" />
        <span class="specialities__text">Fish</span>
      </div>
      <div class="specialities__item">
        <img src="./img/icons/fishnchips.svg" alt="Fish’Chips" />
        <span class="specialities__text">Fish’Chips</span>
      </div>
      <div class="specialities__item">
        <img src="./img/icons/vegan.svg" alt="Salads" />
        <span class="specialities__text">Salads</span>
      </div>
      <div class="specialities__item">
        <img src="./img/icons/pizza.svg" alt="Pizza" />
        <span class="specialities__text">Pizza</span>
      </div>
      <div class="specialities__item">
        <img src="./img/icons/raviolli.svg" alt="Pasta" />
        <span class="specialities__text">Pasta</span>
      </div>
      <button class="slider__next btn-reset">
        <img src="./img/icons/left.svg" alt="Arrow Left" />
      </button>
    </div>
  </div>
</section>
